<% if flash[:notice] %>
<%= flash[:notice] %>
         <% end %>



<%= render 'books/list',book:@book,user:@user %>




<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>
  <% @user.books.each do |book| %>
  <li><%= attachment_image_tag book.user,:profile_image,:fill, 60, 60, format:'jpeg',fallback:'no_image.jpg' %></li>
  <li><%=link_to book.title,book_path(book) %></li>
  <li><%= book.body %></li>
  <% end %>
  
  </table>
  