<% if flash[:notice] %>
<%= flash[:notice] %>
         <% end %>



<%= render 'books/list',book:@book,user:@user %>

<table class="table table-striped">
<h1>User Info</h1>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format:'jpeg', fallback:"no_image.jpg" %>
<h4>Name</h4>
<%= @user.name %>
<h4>Introduction</h4>
<%= @user.introduction %>


<h1>Books</h1>
<h4>Title</h4>
<h4>Opinion</h4>
  <% @user.books.each do |book| %>
  <li><%=link_to book.book_title,book_path(book) %></li>
  <li><%= book.book_body %></li>
  <% end %>
  
  </table>
  